/*font-family: 'Oswald', sans-serif;
 font-family: 'Indie Flower', cursive;
*/


#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: gray;
}
	/*ETIQUETAS*/
body{
background-image: url(../img/huellas2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Oswald', sans-serif;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{
 font-family: 'Indie Flower', cursive;
*/
color: white;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
 font-family: 'Oswald', sans-serif;
*/
color: white;
font-size: 30px;
text-align: center;
}

header{
	width: 1000px;
	height: 180px;
	background: rgba(255,255,255, 10,70);
	margin-bottom: 20px;
}

nav{
width: 1000px;
height: 50px;
background: silver;
border-radius: 10px;
float: left;
}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 

}


section{
	width: 680px;
	background: gray;
	height: 800px:;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}
aside{
	width: 296px;
	background: orange;
	height: 716px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
	width: 1000px;
	height: 150px;
	background: silver;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
}


p{
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}





/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/
